@use './constants' as *;

.Card {
  background-color: $color-secondary-b;
  grid-column: 2/3;
  min-height: 33vh;
  border-radius: 25px;
  box-shadow: 2px 2px 2px black;
  height: max-content;
  min-width: 270px;
  max-width: 66vw;
  padding: $padding-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;

  h2 {
    animation: aparece 1s ease-in-out;
  }

  button {
    background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    padding: 1rem;
    margin: 2rem;
    font-size: $font-size-1;
    border-radius: 25px;
    font-weight: 800;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s;
  }

  button:hover {
    transform: scale(1.05);
  }
}

@keyframes aparece {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
